<!DOCTYPE html>
<html lang="zxx">

<head>

    ...

</head>

<body>

    <!-- wrapper -->
    <div id="smooth-wrapper" class="mil-page-wrapper">
        ...
    </div>
    <!-- wrapper end -->

    <!-- swup js -->
    <script src="../static/js/plugins/swup.min.js"></script>
    <!-- gsap js -->
    <script src="../static/js/plugins/gsap.min.js"></script>
    <!-- scroll smoother -->
    <script src="../static/js/plugins/ScrollSmoother.min.js"></script>
    <!-- scroll trigger js -->
    <script src="../static/js/plugins/ScrollTrigger.min.js"></script>
    <!-- scroll to js -->
    <script src="../static/js/plugins/ScrollTo.min.js"></script>
    <!-- swiper js -->
    <script src="../static/js/plugins/swiper.min.js"></script>
    <!-- parallax js -->
    <script src="../static/js/plugins/parallax.js"></script>

    <!-- pixy js -->
    <script src="../static/js/main.js"></script>

</body>

</html>
